@font-face {



    font-family: signature;



    src: url('../fonts/font2.ttf');



}



html,body{

    overflow-x: hidden!important;

}



@font-face {



    font-family: signature;



    src: url('../fonts/font1.otf');



}



/*



font-family: 'Merriweather', serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Nunito Sans', sans-serif;

*/



html, body{



	overflow-x: hidden;



}







a:hover{



	text-decoration: none;



	color: inherit;



}





ul,li{



	list-style-type: none;



}



.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {

    outline: none;

}





.banner, .story-banner, .event-banner, .outlet-banner{



	height: 100%;



}



.img-fluid.logo {

    

    margin-bottom: -38px;

    margin-top: 12px;

}



.mt-42{

    margin-top: -42px;

}

.mb-42{

    margin-bottom: -42px;

}

.mt-7{

    margin-top: 5rem;

}



section{



	max-width: 1920px;



	width: 100%;



	margin: auto;



}

.active > a {

    color:red;

}



.story{



	border-top: 1px solid #c2982b;

    background: url('../img/Background/Homepage_bg.png') no-repeat;

	background-size: 100%;

    position: relative;

}







.section-heading{



  font-family: signature;

  margin-bottom: 31px;

  font-size: 45px;



}



.section-heading1{

    font-family: 'Montserrat', sans-serif;

    font-size: 28px;

    font-weight: bold;

    letter-spacing: 2px;

    text-transform: uppercase;

    margin-bottom: 39px;

}



.text-color1{



	color: #000;



}



.theme-color{



	color: #f76c6e;



}





.text-color2{



	color: #c2982b;



}







.text-color3{



    color: #58410e;



}







.sub-heading {



    margin: 15px 0;



    font-size: 16px;



    text-transform: uppercase;



    font-weight: 700;



    letter-spacing: 2px;



    display: flex;



    justify-content: center;



    align-items: center;



    font-family: 'Montserrat', sans-serif;



}



.sub-heading2 {



    margin: 20px 0;



    font-size: 20px;



    text-transform: uppercase;



    font-weight: 700;



    color: #000;



    letter-spacing: 2px;



    display: flex;



    justify-content: center;



    align-items: center;



    font-family: 'Montserrat', sans-serif;



}







.sub-heading span{



	margin-top: -10px;



	margin-left: 10px;



	margin-right: 10px;



}







.heading-content{



	font-size: 14px;



	color: #000;



	font-family: 'Nunito Sans', sans-serif;



}







.top-sec hr {



    background: #c2982b;



    height: .5px;



    width: 100px;



    margin: 20px auto;



    transform: rotate(90deg);



    margin-top: 70px;



}







.right-sec .btn-box h4 {



    margin-bottom: 0px;



    padding: 25px 20px;



    text-transform: uppercase;



    font-size: 16px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 5px;



    font-weight: 700;



}



.right-sec .btn-box {



    border: 1px solid #c2982b;



    position: absolute;



    bottom: 0%;

    

    background: #fff;

    

    left: -70%;



    width: 330px;



}

.right-sec .btn-box .btns{

  border-top: 1px solid #c2982b;

}



.right-sec .btn-box .btns a:first-child {



    border-right: 1px solid #c2982b;



    padding-right: 27px;



}

.right-img{

    width: 490px;

}

.left-img{

    width: 570px;

    margin-left: -50%;

}

.left-img1{

    max-width: 550px;

    top: -45px;

    position: relative;

    left: 75px;

}

.right-sec .right-img2 {

    width: 500px !important;

    left: 50%;

    position: relative;

    top: -260px;

}

/* third section button box*/



.right-sec .btn-box1 h4 {

    margin-bottom: 0px;

    padding: 25px 20px;

    text-transform: uppercase;

    font-size: 16px;

    font-family: 'Montserrat', sans-serif;

    letter-spacing: 5px;

    font-weight: 700;

}

.right-sec .btn-box1 {

    border: 1px solid #c2982b;

    position: absolute;

    top: -370px;

    background: #fff;

    width: 330px;

}

.right-sec .btn-box1 .btns{

  border-top: 1px solid #c2982b;

}

.right-sec .btn-box1 .btns a {



    margin-bottom: 0px;



    padding: 25px 20px;



    text-transform: uppercase;



    font-size: 12px;



    font-family: 'Montserrat', sans-serif;



    font-weight: 600;



    color: #000;



    letter-spacing: 1px;



}



.right-sec .btn-box1 .btns a:hover{



	text-decoration: none;



  color: #c2982b;



}

.right-sec .btn-box1 .btns a:first-child {



    border-right: 1px solid #c2982b;



    padding-right: 27px;



}

/*.fourth .right-img{*/

/*    width: 590px!important;*/

/*}*/





.right-sec .btn-box .btns a {



    margin-bottom: 0px;



    padding: 25px 20px;



    text-transform: uppercase;



    font-size: 12px;



    font-family: 'Montserrat', sans-serif;



    font-weight: 600;



    color: #000;



    letter-spacing: 1px;



}





.btns li a {



    margin-bottom: 0px;

    padding: 20px 50px;

    text-transform: uppercase;

    font-size: 12px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;

    color: #000;

    letter-spacing: 1px;

    border: 1px solid #f76c6e;



}

.btns li a :hover{

    color: #f76c6e;

}



.right-sec .btn-box .btns a:hover{



	text-decoration: none;



  color: #c2982b;



}





.left-sec .btn-box h4 {



    margin-bottom: 0px;



    padding: 20px;



    text-transform: uppercase;



    font-size: 17px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 5px;



    font-weight: 700;



}







.left-sec .btn-box {

    right: -12px;



    border: 1px solid #c2982b;



    position: absolute;

    

    background: #fff;

    

    margin-top: -85%;



    width: 330px



}







.left-sec .btn-box .btns{



  border-top: 1px solid #c2982b;



}







.left-sec .btn-box .btns a:first-child {



    border-right: 1px solid #c2982b;



    padding-right: 27px;



}



.left-sec .btn-box .btns a {



    margin-bottom: 0px;



    padding: 20px;



    text-transform: uppercase;



    font-size: 12px;



    font-family: 'Montserrat', sans-serif;



    font-weight: 600;



    color: #000;



    letter-spacing: 1px;



}







.left-sec .btn-box .btns a:hover{



	text-decoration: none;



  color: #c2982b;



}



/* second left button box */

.left-sec .btn-box1 h4 {



    margin-bottom: 0px;



    padding: 20px;



    text-transform: uppercase;



    font-size: 17px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 5px;



    font-weight: 700;



}



.left-sec .btn-box1 {

    right: -240px;

    border: 1px solid #c2982b;

    position: absolute;

    background: #fff;

    margin-top: -165%;

    width: 330px;

}







.left-sec .btn-box1 .btns{



  border-top: 1px solid #c2982b;



}







.left-sec .btn-box1 .btns a:first-child {



    border-right: 1px solid #c2982b;



    padding-right: 27px;



}



.left-sec .btn-box1 .btns a {



    margin-bottom: 0px;



    padding: 20px;



    text-transform: uppercase;



    font-size: 12px;



    font-family: 'Montserrat', sans-serif;



    font-weight: 600;



    color: #000;



    letter-spacing: 1px;



}







.left-sec .btn-box1 .btns a:hover{



	text-decoration: none;



  color: #c2982b;



}









footer h4, footer h4 a {



    text-transform: uppercase;



    font-size: 14px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 3px;



    font-weight: 700;



    color: #000;



}







footer h4 a:hover{



	text-decoration: none;



	color: #c2982b;



}







footer ul{



	margin: 50px 0;



}



.icon_fortune li a i{

    color: #f76c6e !important;

}

.icon_fortune li a i:hover{



	color: #000 !important;



}



footer ul li a i{



    color: #c2982b;



	font-size: 24px!important;



}

footer ul li a i:hover{



	color: #000 !important;



}



.contact-dtl a i{



	color: #c2982b;



	font-size: 30px!important;



}

.contact-dtl a i:hover{



	color: #000;



}



footer ul li a:hover i{



	color: #000;



}







.footer-links{



	padding:50px 0;



	background: #eeeeee;



}







footer h5 a{



    text-transform: uppercase;



    font-size: 11px;



    letter-spacing: 2px;



    font-weight: 700;



    color: #000!important;



    line-height: 25px;



    margin: 0 1px;



    font-family: 'Montserrat', sans-serif;

}







footer h5 a:hover{

    text-decoration: none;

    color: #c2982b !important;



}







footer h3 {



    text-transform: uppercase;



    font-size: 10px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 3px;



    font-weight: 700;



    color: #8E8E8E;



    margin-top: 30px;



    margin-bottom: 0;



}

footer h3 a{

    

    text-decoration: none;

    color: #8E8E8E;



}

footer h3 a:hover{

    

    text-decoration: none;

    color: #c2982b;



}







/*----------------our story page css--------------*/







.our-story-page{

   

    position: relative;

}







.our-story-page .story-content{



	border:1px solid #c2982b;



	padding: 40px;



}



.our-story-page .col-lg-7{



	border:1px solid #c2982b;

    margin-bottom: 41px;

	padding: 20px;



}





.our-story-page .story-content p {



    font-size: 13px;



    font-family: 'Nunito Sans', sans-serif;



    color: #000;

    margin-bottom: 20px;



}





.our-story h4 {



    padding: 20px;



    text-transform: uppercase;



    font-size: 14px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 2px;



    font-weight: 700;



    line-height: 30px;



}







.outlet h3 {



    text-transform: uppercase;



    font-size: 16px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 3px;



    font-weight: 700;



    color: #c2982b;



    margin:40px 0;



}







.outlet ul {



    padding-left: 0px;



}







.outlet .btns a {



    margin-bottom: 0px;



    padding: 20px;



    text-transform: uppercase;



    font-size: 12px;



    font-family: 'Montserrat', sans-serif;



    font-weight: 700;



    color: #000;



    border: 1px solid #c2982b;



    letter-spacing: 1px;



}







.outlet .btns a:hover{



	text-decoration: none;



  color: #c2982b;



}







.outlet .btns a:last-child {



    margin-top: -1px;



}







.delivery-content h4 {



    margin-bottom: 0px;



    text-transform: uppercase;



    font-size: 25px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 2px;



    font-weight: 600;



}







.delivery-content h1 {



    margin-top: 30px;



    padding: 10px;



    border: 2px dashed;



    font-weight: 800;



    font-size: 55px;



    font-family: 'Merriweather', serif;



    letter-spacing: 4px;



    display: inline-block;



}



.delivery-content i {



    font-size: 35px;



}







.delivery-content p {



    font-size: 19px;

    font-family: 'Nunito Sans', sans-serif;

    font-style: italic;



    color: #333;



    font-weight: 300;



}







.delivery-content h3 {



    margin-bottom: 0px;



    text-transform: uppercase;



    font-size: 20px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 1px;



    font-weight: 600;



}







/* .delivery-poster {



    border: 1px solid #d1d1d1;



    padding: 0 17px;



} */







.updates .btns a button, .avail .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}

.avail .btns a button:hover{

    color: #c2982b;

}

.menu-sec .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}



.menu-sec .btns a button:hover{

    color: #c2982b;

}

.outlet-page .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    letter-spacing: 2px;

    background: transparent;

}

.outlet-page .btns a button:hover{

    color: #c2982b;

}

.outlet-page .btns1 a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #f76c6e;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}

.outlet-page .btns1 a button:hover{

    color: #f76c6e;

}

.avail .btns a{

    padding: 15px 0px!important;

}



.form .btns a:hover{

    text-decoration: none;

    color: #c2982b;

}

.avail .btns a:hover{

    text-decoration: none;

    color: #f76c6e;

}

.updates .btns li a{

    margin-bottom: 0px;

    padding: 20px 50px;

    text-transform: uppercase;

    font-size: 12px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;

    color: #000;

    letter-spacing: 1px;

    border: 1px solid #c2982b;

}

.updates .btns i {

    margin-right: 40px;

    font-size: 20px;

}

.updates .btns i:hover{

    text-decoration: none;

    color: #c2982b;

}

.updates .btns a:hover,i:hover{

    text-decoration: none;

    color: #c2982b;

}





.updates .btns li:last-child{



    margin-left: -5px;



}







.updates hr{



    background: #c2982b;



    height: .5px;



    margin: 30px 0;



}



.contact-page .form-group label {



    text-transform: uppercase;



    font-size: 15px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 2px;



    font-weight: 700;



    color: #000;



}







.contact-page .form-group input, .contact-page .form-group select, .contact-page .form-group textarea{



    outline: none;



    border:1px solid #c2982b;



    height: 45px;



    font-size: 15px;



}







.contact-page select {



  -webkit-appearance: none;



  -moz-appearance: none;



  background: transparent;



  background-image: url("https://img.icons8.com/material-outlined/28/000000/expand-arrow--v1.png");



  background-repeat: no-repeat;



  background-position-x: 98%;



  font-family: 'Montserrat', sans-serif;



  background-position-y: 8px;

  height: 20px;

  -webkit-border-radius: 0;

  border: 0;

  outline: 1px solid #ccc;

  outline-offset: -1px;

}





.contact-page textarea{



    min-height: 150px;



}



#xyz {

 border:0px;

 outline:0px;

}



.form .btns a {



    margin-bottom: 0px;



    padding: 16px 65px;



    text-transform: uppercase;



    font-size: 12px;



    font-family: 'Montserrat', sans-serif;



    font-weight: 700;



    color: #000;



    border: 1px solid #c2982b;



    letter-spacing: 1px;



}



.contact-page .col-lg-8{



    border-left: 1px solid #c2982b;



    padding-left: 40px;



    padding-top: 80px;



    padding-bottom: 40px;



}

@media(max-width: 992px){

    .contact-page .col-lg-8{

        border: none;

        padding-right: 15px;

        padding-left: 15px;

        padding-top: 0px;

        padding-bottom: 0px;



    }

}





.contact-page .contact-dtl{



    margin:40px 0;



}







.contact-page .contact-dtl h5 {



    text-transform: uppercase;



    font-size: 15px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 2px;



}







.contact-page .contact-dtl .my-weight{



    font-weight: 500;



}











.contact-bt-bg{



    background: url('../img/contact-bt-bg.jpg') no-repeat;



    height: 50px;



    background-size: cover;



    margin: 50px 0;



}







.contact-footer h4{



   font-family: 'Montserrat', sans-serif;



   font-size: 14px;



}







.contact-footer p{



   font-family: 'Montserrat', sans-serif;



   font-size: 14px;



}







.outlet-page p{



 font-family: 'Nunito Sans', sans-serif;

 padding: 0px 99px 0px 79px !important;

 font-size: 14px;



}







.outlet-page h4{



   font-family: 'Montserrat', sans-serif;



   font-size: 15px;



}







.outlet-page h3{



   font-family: 'Montserrat', sans-serif;



   font-size: 18px;



   color: #000;



   font-weight: 700;



}





/* Menu Section of outlets */



.menu-sec{



    background: url('../img/menu-bg.jpg') no-repeat;



    background-size: cover;



    background-position: center top;

    margin-top: 45px;



}



.menu-content{



    background: url('../img/Background/menu-content-bg.jpg') no-repeat;



    background-size: cover;



    background-position: center top;



    padding: 70px;



}



.menu-content .sign{



    padding: 50px;



}



.menu-content .sign .section-heading{



    font-size: 38px!important;



}



.menu-content .sign p {



    font-size: 14px;

    font-family: 'Nunito Sans', sans-serif;

    margin-top: 20px;



}



/* End of Menu Section of outlets */





/* dunlop Section1 of outlets */



/* .menu-sec1{



   

    background-position: 100% 0%;

    

} */




.menu-sec1 .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}



.menu-sec1 .btns a button:hover{

    color: #c2982b;

}

.menu-content1{



    background: url('../img/Background/Dunlop_Left_Background.png') no-repeat;



    background-size: cover!important;



    background-position: center top!important;



    padding: 70px;



}



.menu-content1 .sign{



    padding: 50px;



}



.menu-content1 .sign .section-heading{



    font-size: 38px!important;



}



.menu-content1 .sign p {



    font-size: 14px;

    font-family: 'Nunito Sans', sans-serif;

    margin-top: 20px;



}



/* End of dunlop Section1 of outlets */



/* Bussorah Section2 of outlets */

.menu-sec2{



    background: url('../img/Background/Bussorah_Right_Banner.png') no-repeat;



    background-size: 60%;

    background-position: 100% 0%!important;

    margin-top: 45px;



}

.menu-sec2 .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}



.menu-sec2 .btns a button:hover{

    color: #c2982b;

}



.menu-content2{



    background: url('../img/Background/Bussorah_Banner_L.png') no-repeat;



    background-size: cover;



    background-position: center top;



    padding: 70px;



}



.menu-content2 .sign{



    padding: 50px;



}



.menu-content2 .sign .section-heading{



    font-size: 38px!important;



}



.menu-content2 .sign p {



    font-size: 14px;

    font-family: 'Nunito Sans', sans-serif;

    margin-top: 20px;



}



/* End of Bussorah Section2 of outlets */



/* Winstedt Section3 of outlets */



.menu-sec3{



    background: url('../img/OutletBanners/Winstedt_Right_Banner.png') no-repeat;



    background-size: 60%;

    background-position: 100%;

    margin-top: 45px;

}

.menu-sec3 .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}



.menu-sec3 .btns a button:hover{

    color: #c2982b;

}



.menu-content3{



    background: url('../img/Background/menu-content-bg.jpg') no-repeat;



    background-size: cover;



    background-position: center top;



    padding: 70px;



}



.menu-content3 .sign{



    padding: 50px;



}



.menu-content3 .sign .section-heading{



    font-size: 38px!important;



}



.menu-content3 .sign p {



    font-size: 14px;

    font-family: 'Nunito Sans', sans-serif;

    margin-top: 20px;



}



/* End of Winstedt Section3 of outlets */



/* Cakes Section4 of outlets */



.menu-sec4{



    background: url('../img/OutletBanners/Cake_Right_Banner.png') no-repeat;



    background-size: 60%;

    background-position: 100%;

    margin-top: 45px;



}

.menu-sec4 .btns a button{

    margin-bottom: 0px;

    padding: 15px 25px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    outline: none;

    border: 1px solid #c2982b;

    width: 200px;

    letter-spacing: 2px;

    background: transparent;

}



.menu-sec4 .btns a button:hover{

    color: #c2982b;

}

.menu-content4{



    background: url('../img/Background/Cake_Left_Background.png') no-repeat;



    background-size: cover;



    background-position: center top;



    padding: 70px;



}



.menu-content4 .sign{



    padding: 50px;



}



.menu-content4 .sign .section-heading{



    font-size: 38px!important;



}



.menu-content4 .sign p {



    font-size: 14px;

    font-family: 'Nunito Sans', sans-serif;

    margin-top: 20px;



}



/* End of Cakes Section4 of outlets */



.avail ul {

    padding: 0;

}



.avail h5 {



    text-transform: capitalize;



    font-size: 15px;



    font-family: 'Montserrat', sans-serif;



    letter-spacing: 2px;



    font-weight: 700;



    color: #000;



}





textarea:focus, 

select:focus,

textarea.form-control:focus, 

input.form-control:focus, 

input[type=text]:focus, 

input[type=password]:focus, 

input[type=email]:focus, 

input[type=number]:focus, 

[type=text].form-control:focus, 

[type=password].form-control:focus, 

[type=email].form-control:focus, 

[type=tel].form-control:focus, 

[contenteditable].form-control:focus {

  box-shadow: inset 0 -1px 0 #ddd!important;

}



.invalid-feedback{

    color: #ff4545!important;

    font-family: 'Montserrat', sans-serif;

    font-size: 15px!important;

    font-weight: 600;

}



a.whatsapp {

    position: absolute;

    right: 20px;

    top: 23px;

}



.section-padding{

    padding: 60px 0;

}



.read-down{

    position: absolute;

    display: none;

}





.our-event-page{

    position: relative;

    padding: 65px 0 120px;

}



.my-event-gallery {

    margin-top: -30px;

}



.event-bg1{

    position: absolute;

    background: url(../img/event-bg1.png) no-repeat;

    height: 400px;

    width:  400px;

    background-size: 100%;

    left: 10%;

    top: 2%;

}

.event-bg2{

    position: absolute;

    background: url(../img/event-bg2.png) no-repeat;

    height: 400px;

    width: 400px;

    background-size: 100%;

    background-position: right bottom;

    bottom: -1%;

    right: 11%;

}

.event-bg3{

    position: absolute;

    background: url(../img/event-bg3.png) no-repeat;

    height: 400px;

    width: 220px;

    background-position: right top;

    right: 11%;

    background-size: 100%;

    top: -5%;
    z-index: 1;
}





.event-box{

    padding: 20px;

    border: 2px solid #c2982b;

}



.event-box .event-content {

    border: 2px solid #c2982b;

    padding: 35px 20px;

}



.event-box .event-content .sub-heading{

    margin-bottom: 15px;

    text-align: center;
    width: 349px;
    height: 72px;
}





.event-box .event-content p{

    padding: 24px 28px;

    font-size: 13px;

    font-family: 'Nunito Sans', sans-serif;

    color: #000;

    text-align: center;

}



.event-banner{



    padding: 90px 0;



    background: url('../img/Events.png') no-repeat;



    background-size: cover;

}



.event-banner-content h1{

    font-family: signature;

    font-size: 100px;

}



.event-banner-content p{

    font-size: 16px;

    font-family: 'Nunito Sans', sans-serif;

    text-align: center;

    /* padding: 102px 391px 0px 360px; */

}


.email_event{
    padding: 0px 0px 0px 591px;
}


.event-banner-content .btns a{

    padding: 25px 60px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;

    color: #000;

    letter-spacing: 1px;

    border: 2px solid #c2982b;

    margin-top: 40px;

}



.event-banner-content .btns a:hover{

    text-decoration: none;

    color: #c2982b;

}



.outlet-banner-content h1{

    font-family: signature;

    font-size: 100px;

}



.fortune-banner{



    padding: 120px 0;



    background: url('../img/Banner_TFC.jpg') no-repeat;



   background-size: cover!important;

    height: 470px;

}



.fortune-banner-content h1 {

    font-family: 'Montserrat', sans-serif;

    font-size: 70px;

    font-weight: bold;

}

.fortune-banner-content p {

    font-family: 'Montserrat', sans-serif;

    font-size: 18px;

    font-weight: bold;

    text-transform: uppercase;
    color: white;
}

.story-banner{

    padding: 110px 0;

    background: url('../img/story-banner.png') no-repeat;

    background-size: 100%;

    height: 400px;

}



.about-tfc{

    position: relative;

}



.tfc-bg1{

    position: absolute;

    background: url(../img/about-tfc1.png) no-repeat;

    background-size: 90%;

    height: 550px;

    width: 550px;

    background-position: left top;

    left: -10%;

top: 2%;

}



.tfc-bg2{

    position: absolute;

    background: url(../img/about-tfc1.png) no-repeat;

    background-size: 90%;

    height: 550px;

    width: 550px;

    background-position: right center;

    right: -8%;

    top: 35%;

}



.about-tfc p{

    font-size: 13px;

    font-family: 'Nunito Sans', sans-serif !important;

    text-align: center;



}



.signature-sec{

    position: relative;

    background: #2f1f68;

}



.sign-box{

    border: 2px solid #e1c38b;

    border-radius: 50%;

    padding: 20px;

}



.sign-content{

    background: #543ab2;

    border-radius: 50%;

    padding: 120px 55px;

    display: flex;

    align-items: center;

    flex-direction: column;

}



.sign-content h3 {

    font-family: 'Montserrat', sans-serif;

    font-size: 22px;

    font-weight: 700;

    letter-spacing: 2px;

    text-transform: uppercase;

}



.sign-content p{

    font-size: 14px;

    font-family: 'Nunito Sans', sans-serif;

    text-align: center;

    color: #fff;

}



.sign-content .btns a{

    padding: 16px 40px;

    text-transform: uppercase;

    font-size: 13px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 600;

    color: #000;

    text-align: center;

    letter-spacing: 1px;

    margin-top:20px;

    border: 1px solid #c2982b;

    background: white;

}



.sign-content .btns a:hover{

    text-decoration: none;

    color: #c2982b;

}



.sign1{

    position: absolute;

    background: url(../img/Dish02_F.png) no-repeat;

    background-size: 100%;

    height: 653px;

    width: 458px;

    background-position: left top;

    top: -14%;

    left: -6%;

    z-index: 2;

}



.sign2{

    position: absolute;

    background: url(../img/Dish01_F.png) no-repeat;

    background-size: 100%;

    height: 700px;

    width: 458px;

    background-position: left top;

    right: -8%;

    bottom: -74%;

    z-index: 1;

}

.sign3{

    position: absolute;

    background: url(../img/Pattern_01.png) no-repeat;

    background-size: 100%;

    height: 250px;

    width: 250px;

    background-position: left top;

    bottom: -17%;

    left: 10%;

    z-index: 1;

}



.sign4{

    position: absolute;

    background: url(../img/Pattern_01.png) no-repeat;

    background-size: 100%;

    height: 250px;

    width: 218px;

    background-position: left top;

    right: 5%;

    top: -23%;



}



.sign5 {

    position: absolute;

    background: url(../img/Cookie_02.png) no-repeat;

        background-position-x: 0%;

        background-position-y: 0%;

        background-size: auto;

        background-size: 100%;

        height: 180px;

        width: 180px;

        background-position: left top;

        right: 21%;

        top: 5%;

}



.sign6{

    position: absolute;

    background: url(../img/Cookie_01.png) no-repeat;

    background-size: 100%;

    height: 150px;

    width: 150px;

    background-position: left bottom;

    left: 21%;

    bottom: -17%;

    z-index: 3;

}



.location .btns a button{

    padding: 15px 45px;

}



.follow-carousel, .outlet-carousel{

    display: none!important;

}





.my-bl1 {

    margin-left: -29%;

}



.my-bl2 {

    min-width: 670px !important;

    margin-left: 0%;

}





.st-bg {

    position: absolute;

    background: url(../img/Plate_F.png) no-repeat;

    height: 100%;

    width: 380px;

    background-size: 100%;

    left: -4%;

    top: 68%;

}

.st-line {

    background: url(../img/Pattern.png) no-repeat;

    height: 200px;

    background-size: cover;

    margin: 50px 0;

}



/*.col-md-8.mx-auto.text-center {*/

/*    margin-top: 100px;*/

/*    margin-bottom: 200px;*/

/*}*/

.st-fr {

    position: absolute;

    background: url(../img/Candle.png) no-repeat;

    height: 100%;

    width: 250px;

    background-size: 100%;

    right: 20px;

    top: 10%;

}



.eapps-instagram-feed-title-container{

 display: none !important;

}

.eapps-link{

    pointer-events: none !important;

    

        animation: none!important;

        background: none !important;

        border: none!important;

        border-radius: 6px!important;

        bottom: auto!important;

        box-sizing: border-box!important;

        color: rgb(255 255 255)!important;

        display: inline-block!important;

        float: none!important;

        font-family: Roboto,Arial,Sans-serif!important;

        font-size: 12px!important;

        font-weight: 700!important;

        height: 28px!important;

        left: 50%!important;

        line-height: 16px!important;

        margin: 8px auto!important;

        opacity: 1!important;

        padding: 6px 6px 6px 32px!important;

        position: relative!important;

        right: auto!important;

        text-align: left!important;

        text-decoration: none!important;

        text-indent: 0!important;

        top: auto!important;

        transform: translateX(-50%)!important;

        visibility: visible!important;

        max-width: 240px!important;

        z-index: 99999!important;

        zoom: 1!important;

        background-color: rgb(255 255 255)!important;

        margin-top: 20px!important;

        pointer-events: none !important;

}

/* #footer_2 a:hover {

    

    color: #c2982b;

} */

.fortune_1{

    margin-top:  60px;

}

.logo_home{

	max-width: 110px !important;

	}

    .dunlop_1{

        padding: 0px 99px 0px 79px !important;

    text-align: center!important;

     }

     .drop{

         margin-top: 27px!important;

     }

     #insta .eapps-link{

        display: none !important;

    }

    .soon{

		text-align: center !important;

	}

    .story_1{

		text-align: center!important;

	}

    .story_c{

        margin-top:40px;

    }
    .send_btn{

		margin-bottom: 0px;

    padding: 15px 65px;

    text-transform: uppercase;

    font-size: 12px;

    font-family: 'Montserrat', sans-serif;

    font-weight: 700;

    color: #000;

    border: 1px solid #c2982b;

    letter-spacing: 1px;

    background: none;

	}
   
    .menu-sec1 {
        background-size: 60%!important;
        margin-top: 45px;
        background-position-x: 100%!important;
    }
    .dunlop_1 p{
        padding: 0px 99px 0px 79px !important;
        text-align: center!important;
    }
    .fancybox-inner{
        display: none!important;
    }
    .modal-open{
        
        height: 100vh;
        overflow-y: hidden;
    }
    
    
    
   /* new page css */
  
   .edit-img{
    

  display:block;
  margin: auto;
  margin-top: 13.13px;

   
   }

   
   .left-right-section{
    display: flex;
   }

   .left-right-section.text2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


   }
   .left-right-section.image{
    width: 720px;
    height: 720px;



   }
    /* .left-right-section.image img{
        


    } */
    
   .rectangle8{
    box-sizing: border-box;
 
    width: 1058px;
    height: 475px;
    display: block;
    margin: auto;
    margin-top: 107px;
    z-index: 2;
    border: 2px solid #C2982B;
    margin-bottom: -203px;
   }
   .edit-img{
    display: block;
    margin: auto;
    margin-top:15px;

   }
    .Esplanade{
       text-align: center;
      background: #303030CC;
      color: #FFFFFF;
      width: 100%;
      height: 653px;
       z-index: 1;
      /* height: 653px; */

    
    }


.text-esplande{
 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize; 
    color: #FFFFFF;
    margin-top:250px;
    margin-bottom: 120px;
    
   

}
.container1{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width:100%;
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left: 0;
   
    
}
.text2{
    display: block;
    margin: auto;
    text-align: center;
    width: 488px;
    height: 213px;
    font-family: 'Nunito Sans' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;   


  
}
.newp{
    color: #FFFFFF;
}

.para-new{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;   
    line-height: 20px;
    

}
.new-heading{
    font-family: 'Signature';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 39px;
    /* identical to box height */
    
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
    margin-bottom: 20px;
}
.new22{
    text-align: center;
}
.signatures{
    
    background: #FFFFFF!important;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin: 14px;
    padding: 32px;
  


}
.container2{
    position: relative;
    text-align: center;
}
.centered1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.signature-section {
    background:no-repeat;



    background-size: 100%;

    background-position: 100% 0%!important;
    
    background-size: cover;
    margin-top:0;
}

.sign-img{
    width:100%;
}
